<div class="modal fade" id="movieModal" tabindex="-1" role="dialog" aria-labelledby="movieModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Modifier Film</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.dateRelease) }}
                {{ form_row(form.type) }}
                {{ form_row(form.synopsis) }}
                {{ form_row(form.realisator) }}
                {{ form_row(form.envoyer, {'attr': {'class': 'btn btn-primary float-right'}}) }}
                <a href="{{ path('app_remove_movie', {id: movie.id}) }}" class="btn btn-danger float-left">
                    Supprimer
                </a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>